version: '3.1'

volumes:
  postgres_data:

services:
  postgres:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: socialdevs_dev
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: Tih667623
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  dart-server:
    image: dart-server
    restart: always
    ports:
      - "5000:3000"
    volumes:
      - ../images:/app/images
    env_file:
      - .env
    entrypoint: ["/app/bin/server"]

  nginx-images:
    image: nginx
    ports:
      - "5001:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - ../images:/data